@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

body
{
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Content wrapper */
#wrapper
{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* Credit section */
#wrapper::before
{
  content: 'Credit: ' attr(data-owner) '  @Flickr';
  height: 20px;
  color: #aaa;
  position: absolute;
  bottom: 2em;
  right: 2em;
  transform-origin: bottom right;
  transform: rotate(90deg);
}

/* gradient panel */
#wrapper::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,#292828, rgba(60,60,60,.93) 30%, rgba(76,76,76,.66) 60%, rgba(102,102,102,.39) 80%, rgba(255,255,255,.0) 100%)
}

/* Information Wrapper Style */
#information
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}

/* Forecast Section */
.forecast
{
  height: 60%;
  width: 60%;
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 0 1em;

}
/* Each day Forecast */
.forecast li
{
  display: inline-block;
  width: 30%;
  margin-left: 1em;
  color: white;
  text-align: center;
  padding-top: 2em;
  color: #aaa;
  letter-spacing: 1px;
}

.forecast #date
{
  font-weight: 300;
}

.forecast #temp
{
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: .3em;
}

/* Current Weather Component */
.current-weather
{
  width: 100%;
  height: 40%;
  position: relative;
  color: #eee;
}
.current-weather #city
{
  font-size: 3em;
  overflow: hidden;
  transform-origin: top left;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -1em;
  text-transform: uppercase;
}
.current-weather #city img
{
  cursor: pointer;
}
/* Current temperature */
.current-weather .current-weather-wrapper
{
  position: absolute;
  bottom: 0;
  left: 5em;
}

#temp
{
  font-size: 8em;
  font-weight: 600;
  letter-spacing: 5px;
}

.current-weather #temp-min, .current-weather #humidity
{
  font-size: 2em;
  font-weight: 400;
  display: inline-block;
  width: 50%;
  color: #888;
}

/* Unit button */
.unit
{
  position: absolute;
  background-color: rgba(100,100,100,.2);
  top: 10px;
  left: 10px;
  padding: 20px;
  cursor: pointer;
  z-index: 3;
  color: white;
  transition: .2s all ease-in;
}
.unit:hover
{
  background-color: rgba(100,100,100,.5);

}
/* Modal */
#modal
{
  background: radial-gradient(#111, #222);
  /* background: #111; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#modal input
{
  background-color: transparent;
  color: white;
  border: unset;
  border-bottom: 2px solid #999;
  font-size: 2em;
  transition: .5s all ease;
  text-align: center;
  /* width: 40%; */
}

#modal input:focus
{
  outline: none; 
  border-bottom: 2px solid #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #444 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
#modal img
{
  height: 3em;
  margin: 0 1em;
  line-height: 100px;
  cursor: pointer;
}

#modal svg
{
  position: absolute;
  width: 300px;
  height: 300px;
  pointer-events: none;
}

#modal svg .cls-1, #modal svg .cls-2, #modal svg .cls-3
{
  opacity: 0;
}

#modal svg .cls-2 {fill:none;stroke:#6ac6f9;stroke-miterlimit:10;stroke-width:5px;}