@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

body
{
  font-family: 'Montserrat Alternates', sans-serif;
}
.App::after
{ 
  display: none;
}
/* Content wrapper */
#wrapper
{
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: #292828;
}

/* Credit section */
#wrapper::before
{
  content: 'Credit: ' attr(data-owner) '  @Flickr';
  height: 20px;
  color: #eee;
  position: absolute;
  bottom: 2em;
  right: 1em;
  transform-origin: top right;
  transform: rotate(90deg);
}

/* gradient panel */
#wrapper::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,#292828, rgba(60,60,60,.93) 30%, rgba(76,76,76,.66) 60%, rgba(102,102,102,.39) 80%, rgba(255,255,255,.0) 100%)
}

/* Information Wrapper Style */
#information
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

/* Forecast Section */
.forecast
{
  height: 60%;
  width: 60%;
  list-style-type: none;
  margin: 0 0 0 1em;
}
/* Each day Forecast */
.forecast li
{
  display: inline-block;
  width: 30%;
  margin-left: 1em;
  color: white;
  text-align: center;
  padding-top: 2em;
  color: #aaa;
  letter-spacing: 1px;
}

.forecast #date
{
  font-weight: 300;
}

.forecast #temp
{
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: .3em;
}

/* Current Weather Component */
.current-weather
{
  width: 100%;
  height: 40%;
  position: relative;
  color: #eee;
}
.current-weather #city
{
  font-size: 3em;
  overflow: hidden;
  transform-origin: top left;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -1em;
  text-transform: uppercase;
}
.current-weather #city img
{
  cursor: pointer;
}
/* Current temperature */
.current-weather .current-weather-wrapper
{
  position: absolute;
  bottom: 0;
  left: 5em;
}

#temp
{
  font-size: 8em;
  font-weight: 600;
  letter-spacing: 5px;
}

.current-weather #temp-min, .current-weather #humidity
{
  font-size: 2em;
  font-weight: 400;
  display: inline-block;
  width: 50%;
  color: #888;
}

/* Unit button */
.unit
{
  position: absolute;
  background-color: rgba(100,100,100,.2);
  top: 10px;
  left: 10px;
  padding: 20px;
  cursor: pointer;
  z-index: 3;
  color: white;
  transition: .2s all ease-in;
}
.unit:hover
{
  background-color: rgba(100,100,100,.5);

}
/* Modal */
#modal
{
  background: radial-gradient(#111, #222);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
/* City input field*/
#modal input
{
  background-color: transparent;
  color: white;
  border: unset;
  border-bottom: 2px solid #999;
  font-size: 2em;
  transition: .5s all ease;
  text-align: center;
}

#modal input:focus
{
  outline: none; 
  border-bottom: 2px solid #fff;
}

/* Change autofill Chrome color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #444 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

/* Search button */
#modal img
{
  height: 3em;
  margin: 0 1em;
  line-height: 100px;
  cursor: pointer;
}
/* Weather animation SVG */
#modal svg
{
  position: absolute;
  width: 300px;
  height: 300px;
  pointer-events: none;
}
/* Hide Icons at start */
#modal svg .cls-1, #modal svg .cls-2, #modal svg .cls-3
{
  opacity: 0;
}
/* Rain icon */
#modal svg .cls-2 {fill:none;stroke:#6ac6f9;stroke-miterlimit:10;stroke-width:5px;}


/* Display a warning for landscape mode */
@media only screen and (min-width: 450px) and (max-width: 768px) and (orientation: landscape){
  .App::after
  {
    content: 'It is a bit hard to make anything look great in landscape. Portrait mode is better for visual.';
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    background-color: red;
    z-index: 99;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
  }
}

/* Mobile portrait mode */
@media only screen and (max-width: 768px) {
  /* Scale the root font-size on mobiles */
  body
  {
    font-size: 8pt;
  }
  /* Gradient panel */
  #wrapper::after
  {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,#292828, rgba(60,60,60,.93) 30%, rgba(76,76,76,.66) 60%, rgba(102,102,102,.39) 80%, rgba(255,255,255,.0) 100%)
  }

  /* Information Wrapper Style */
  #information
  {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* position: fixed; */
    padding: 2em 0;
  }

  /* Forecast Section */
  .forecast
  {
    width: auto;
    height: 50%;
    margin: 0;
    position: relative;
    padding: 0;
    padding-left: 5em;
    margin-bottom: 2em;
  }

  .forecast li
  {
    width: 30%;
    margin-left: 0;
    color: white;
    padding-top: 2px;
    text-align: left;
  }

  .forecast #temp
  {
    font-weight: 600;
    font-size: 1.5em;
  }

  .forecast #humidity, .forecast #lower-temp
  {
    visibility: hidden;
  }

  /* Current weather section */
  .current-weather
  {
    position: relative;
    width: 100%;
    height: 50%;
  }

  /* Unit button */
  .unit
  {
    top: unset;
    bottom: 20px;
    left: unset;
    right: 20px;
  }

  #modal
  {
    overflow: hidden;
  }
}